<% include partials/header.ejs %>

<!-- intro / header - top portion of site under navigation -->
<div class="container">
	<div class="row">

		<h1> Santa Monica College</h1>
		<h1> Alpha Gamma Sigma! </h1>
			
		<p> SCI 140 11:15-12:35 || ART 214 5:45-6:35 </p>

		<p>AGS is a statewide honor society that promotes both scholastic achievement and community service. If you are eager to meet new people, help others in your community, and have fun, AGS is the organization for you!</p>	
			
	</div> 
	<!-- <h1> Alpha Gamma Sigma! </h1>
	
	<h1> Santa Monica College</h1>
	
	<p> SCI 140 11:15-12:35 || ART 214 5:45-6:35 </p>

	<p>AGS is a statewide honor society that promotes both scholastic achievement and community service. If you are eager to meet new people, help others in your community, and have fun, AGS is the organization for you!</p>	
 -->
</div>



<!-- 
	<h1> Mission: </h1>
	<p>
		The purpose of the chapter shall be to foster, promote, maintain, and recognize scholarship among the students of Santa Monica College; to develop programs offering cultural, social, or enrichment experiences; to promote service to the college and community; and to emphasize the development of leadership, character, and judgment.
	</p>
 -->


	<!-- <h1>How we Work: </h1> -->
	<!-- 4 sections: join, help, grow - then on far right you have organizers -->
	<!-- join's text: "Attend the first meeting of the semester and make sure that you've fulfilled all your necessary requirements to be a general member. (See constitution for further details)" -->
	<!-- help's text: "Attend our weekly meetings, give back to your community and get your hours in! Make sure to sign up for events and follow rules carefully to be a proper AGS SMC member." -->
	<!-- grow's text: "Grow not only as a member, but as an individual striving to reach excellence while helping others throughout your journey." -->

	<!-- organizers: " If you'd like to request service from AGS SMC, speak to our External Vice Presidents to plan out the logistics according to your event." -->



	<!-- buttons: application, constitution, independent hours, password retrieval, president's award, board members, contact us -->

	<!-- board members has fall & spring 2016, spring 2017 -->
<% include partials/footer.ejs %>