<% include partials/header.ejs %>

<h1>log in</h1>
	<form action="/login" method="POST">
		<input type="email" name="email">
        <input type="password" name="password">
        <button> sign in </button>
        <p><a href="#">  forgot password? (haha you have a bad memory, go fix it)  </a></p>
        <button>Log in</button>
    </form>


<% include partials/footer.ejs %>