<% include partials/header.ejs %>

<h1>log in</h1>
	<form action="/login" method="POST">
		<input type="email" name="email" placeholder="email">
		<input type="text" name="organizataionName" placeholder="organizataionName">
        <input type="password" name="password" placeholder="password">
        <button> sign up </button>
    </form>


<% include partials/footer.ejs %>