<% include partials/header.ejs %>

<h1>Account</h1>

<h1>have a three grid system where you show all three side by side to make sure no human needs to scroll down, that is too much force*distance</h1>

<button><a href="/signUp/continuingMember">Continuing Member</a></button>
<p> explain continuing member</p>
<button><a href="/signUp/guestMember">Guest Member</a></button>		
<p>explain guest member</p>
<button><a href="/signUp/newMember">New Member</a></button>
<p>explain new member</p>

<% include partials/footer.ejs %>

